<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>{{ editId ? 'Edit Member' : 'Create Member' }}</h2>
    <mat-form-field appearance="fill">
        <input matInput placeholder="CIN" formControlName="CIN">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Name" formControlName="Name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Type" formControlName="Type">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput placeholder="CV" formControlName="CV">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Submit</button>
</form>